
.inner {
    max-width: 1148px !important;
}
.btn-fill {
    background-color: #222222;
    color: #fff;
}

.btn-fill:hover {
    color: var(--primary)
}

.section h2 {
    font-size: 2.5rem;
}

/* MAIN-VIDEO */
.main-video {
    height: 75.75rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-video h1 {
    font-size: 3.8rem;
    margin-bottom: 50px !important;
    word-break: keep-all;
}
.main-video h1 span {
    color: var(--primary);
}
.main-video .container .btn {
    border-radius: 100px;
    font-size: 26px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.65px;
    padding: 24px 20px 21px;
    min-width: 256px;
}
.main-video .container .btn-outline-primary {
    border-color: white;
}

/* SECTION-TECHSERVICE */
.section-techService {
    padding-top: 9.5rem;
    padding-bottom: 11.25rem;
}
.section-techService h2 {
    margin-bottom: 4.5rem;
}
.section-techService h4 {
    font-size: 1.75rem;
    line-height: 1;
    margin-bottom: 1rem;
}
.section-techService p {
    font-size: 1.25rem;
    line-height: 1.4;
}
.section-techService .yapTech .card-body {
    height: 310px;
    background-color: #f4f4f4;
    position: relative;
    padding: 2.375rem;
    z-index: 0;
}
.section-techService .yapTech img {
    position: absolute;
    width: 48%;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.section-techService .row > div {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
}

/* SECTION-NEWS */
.section-news {
    background-color: #f9f9f9;
    padding-top: 8.125rem;
    padding-bottom: 11.875rem;
    overflow: hidden;
}
.section-news .container {
    max-width: 100%;
    /* overflow: hidden; */
}
.section-news .container .row-full {
    margin-left: -3rem;
    margin-right: -3rem;
}

.section-news .container .row-full .img-fluid {
    width: 100%;
}
.section-news .container .row-full .card-img-top {
    position: relative;
}
.section-news .container .row-full .card-img-top .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 0.938rem 1.625rem;
    padding-left: 2.5rem;
}
.section-news .container h2 {
    margin-bottom: 3.125rem;
}
.section-news .container .row-full .card-img-top .card-body h4 {
    color: rgba(255,255,255,0.8);
    margin: 0;
}

.section-news .container .row-full .card-img-top .card-body p {
    margin: 0;
    font-size: 1.375rem;
    line-height: 1.36;
    overflow:hidden;
	text-overflow:ellipsis;
	-webkit-line-clamp: 2;	
	-webkit-box-orient: vertical;
	display: -webkit-box;
}
.section-news .container .row-full .card-img-top .card-body .row {
    margin: 0;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.section-news .container .more-news {
    text-align: right;
    margin-bottom: 40px;
}
.section-news .container .more-news a {
    float: right;
    color: #898989;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: -0.5px;
}
.section-news .container .more-news a img {
    margin-left: 7px;
    margin-top: -6px;
}

/* SECTION-ABOUT */
.section-about {
    background: red url(../img/10.jpg) center/cover no-repeat;
    padding-top: 17.5rem;
    padding-bottom: 15rem;
    color: #222222;
    min-height: 900px;
}
.section-about h2 {
    font-size: 2.813rem;
    margin-bottom: 1.125rem;
}
.section-about h2 span {
    color: var(--primary);
}
.section-about p {
    font-size: 1.313rem;
    line-height: 1.24;
    margin-bottom: 4.813rem;
}
.section-about .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.313rem;
    font-weight: bold;
    line-height: 1;
    height: 4.75rem;
    box-sizing: border-box;
    min-width: 16.563rem;
}
.section-about .btn img {
    margin-left: 0.263rem;
}

/* SECTION-FOOTER */
.section-footer {
    background-color: #333333;
    color: rgba(255,255,255,0.6);
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}
.section-footer .row {
    justify-content: space-between;
}

.section-gsap01,
.section-gsap02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.section-gsap01 h1 {
    font-size: 3.75rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #222;
    margin-bottom: 2.625rem;
}
.section-gsap01 h1 span {
    color: var(--primary);
}

.section-gsap01 p {
    font-size: 2.313rem;
    letter-spacing: -0.93px;
    text-align: center;
    color: #222;
    margin: 0;
}
.section-gsap02 {
    background-color: var(--primary);
}
.section-gsap02 h2 {
    color: white;
    margin: 0;
    font-size: 2.813rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -1.13px;
    text-align: center;
}

.section-coreValue {
    padding-top: 17.15rem;
    padding-bottom: 12.5rem;
}
.section-coreValue .line {
    height: 4.438rem;
    border-color: var(--primary);
    top: -9rem;
    transform: none;
}
.section-coreValue h3 {
    font-size: 2.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: -1px;
    text-align: center;
    color: #222;
    margin-bottom: 4.8rem;
}

.section-coreValue h3 span {
    color: var(--primary);
}
.section-coreValue .row {
    margin-left: -0.6rem;
    margin-right: -0.6rem;
}
.section-coreValue .row > div {
    padding: 0 0.6rem;
}
.section-coreValue .row > div:nth-child(4),
.section-coreValue .row > div:nth-child(5) {
    margin-top: 1.2rem;
}
.section-coreValue .item {
    height: 23.563rem;
    background: url(../img/13.jpg) center/cover no-repeat;
    padding: 2.5rem 1.7rem;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
    position: relative;
    z-index: 0;
}
.section-coreValue .item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    transition: all .25s linear;
    z-index: -1;
}
.section-coreValue .item span {
    font-size: 0.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.14px;
    text-align: left;
    color: #222;
}
.section-coreValue .item h5 {
    font-size: 1.75rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.7px;
    text-align: left;
    color: #222;  
    margin-bottom: 1.8rem;
}
.section-coreValue .item p {
    font-size: 0.813rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: -0.33px;
    text-align: left;
    color: #222;
    opacity: 0;
}
.section-coreValue .item .action-btn {
    position: absolute;
    bottom: 1.438rem;
    left: 1.438rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    transition: 0.3s cubic-bezier(.25,.46,.45,.94);
}
.section-coreValue .item .action-btn::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #505050;
}
.section-coreValue .item .action-btn::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #505050;
    transform: rotate(90deg);
}

.section-coreValue .item.on::before {
    opacity: 1;
}
.section-coreValue .item.on h5 {
    animation: CareersPage_slide-in-fwd-top__BsiBA .4s cubic-bezier(.25,.46,.45,.94) .2s both;
}
.section-coreValue .item.on p {
    opacity: 1;
    animation: CareersPage_slide-in-fwd-top__BsiBA .4s cubic-bezier(.25,.46,.45,.94) .4s both;
}
.section-coreValue .item.on .action-btn {
    transform: rotate(45deg);
    /* animation: CareersPage_rotate-30__bKLfZ .3s cubic-bezier(.25,.46,.45,.94) both; */
}

@-webkit-keyframes CareersPage_slide-in-fwd-top__BsiBA {
    0% {
        -webkit-transform: translateZ(-20px) translateY(-20px);
        transform: translateZ(-20px) translateY(-20px);
        opacity:0
    }

    to {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity:1
    }
}

@keyframes CareersPage_slide-in-fwd-top__BsiBA {
    0% {
        -webkit-transform: translateZ(-20px) translateY(-20px);
        transform: translateZ(-20px) translateY(-20px);
        opacity:0
    }

    to {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity:1
    }
}
@-webkit-keyframes CareersPage_rotate-30__bKLfZ {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes CareersPage_rotate-30__bKLfZ {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity:1
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity:1
    }
}


@media (max-width: 767.99px) {
    /* html {
        font-size: 10px;
    } */
    .container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .row {
        margin-right: -1.25rem;
        margin-left: -1.25rem;
    }
    .main-video {
        height: 52.75rem;
    }
    .main-video h1 {
        font-size: 2rem;
        text-align: center;
        width: 14rem;
        margin: 0 auto;
        word-break: keep-all;
        margin-bottom: 2.2rem;
    }
    .main-video .container .btn {
        background-color: #222222;
        border: 0;
        font-size: 1.125rem;
        padding: 0 2rem;
        width: auto;
        min-width: min-content;
        height: 2.938rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .section-techService {
        padding-top: 3.125rem;
        padding-bottom: 4.375rem;
    }

    .section-techService .row {
        margin-left: -0.469rem;
        margin-right: -0.469rem;
    }
    .section-techService .cardWrap > div {
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 0.469rem;
        padding-right: 0.469rem;
    }
    .section-techService .yapTech .card-body {
        height: 10.063rem;
        padding: 0.813rem 0.344rem 0 0.625rem;
    }
    .section-techService h2 {
        font-size: 1.875rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }
    .section-techService h4 {
        font-size: 0.813rem;
        font-weight: bold;
        margin-bottom: 0.25rem;
    }
    .section-techService p {
        font-size: 0.688rem;
        color: #222;
        word-break: keep-all;
        max-width: 6.7rem;
    }
    .section-techService .yapTech img {
        min-width: 110px;
        max-width: 147px;
    }
    .section-news {
        padding-top: 1.875rem;
        padding-bottom: 7.125rem;
        position: relative;
    }
    .section-news .container {
        position: static;
    }
    .section-news .row-moreWrap {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .section-news .container .more-news {
        margin-bottom: 4.375rem;
        text-align: center;
    }
    .section-news .container .more-news a {
        float: none;
        font-size: 0.813rem;
    }
    .section-news .container .more-news a img {
        margin-top: -0.2rem;
        margin-left: 0.35rem;
        width: 0.6rem;
    }

    .section-news .container h2 {
        font-size: 1.875rem;
        font-weight: bold;
        margin-bottom: 2.2rem;
    }
    .section-news .container .row-full {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: -23rem;
        margin-right: -23rem;
        margin-left: -60vw;
        margin-right: -60vw;
    }
    .section-news .container .row-full > div {
        padding: 0 0.625rem;
    }
    .section-news .container .row-full .card-img-top {
        height: 21rem;
    }
    .section-news .container .row-full .img-fluid {
        height: 100%;
        object-fit: cover;
    }
    .section-news .container .row-full .card-img-top .card-body {
        padding: 0.939rem;
    }
    .section-news .container .row-full .card-img-top .card-body {
        font-size: 0.938rem;
    }
    .section-news .container .row-full .card-img-top .card-body h4 {
        font-size: 0.688rem;
    }
    .section-news .container .row-full .card-img-top .card-body p {
        font-size: 0.938rem;
    }
    .section-about {
        padding-top: 14.5rem;
        padding-bottom: 3.125rem;
        text-align: center;
        min-height: fit-content;
    }
    .section-about h2 {
        font-size: 1.563rem;
        font-weight: 600;
        margin-bottom: 0.625rem;
    }
    .section-about p {
        font-size: 0.813rem;
        margin-bottom: 2rem;
    }
    .section-about .btn {
        font-size: 0.813rem;
        padding: 0.93rem;
        width: 10.875rem;
        min-width: min-content;
        height: 3rem;
    }
    .section-about .btn img {
        width: 0.75rem;
    }
    .section-footer {
        padding: 2.125rem 0;
        font-size: 0.688rem;
    }
    .section-footer p {
        margin-bottom: 0.7rem;
    }
    .section-footer p .footer-brand  {
        font-size: 0.812rem;
        color: rgba(255,255,255,0.6) !important;
    }
}