@import url(../fonts/Inter/inter.css);

/* noto-sans-kr-100 - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/noto-sans-kr-v27-korean-100.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-kr-v27-korean-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-kr-v27-korean-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-kr-v27-korean-100.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-kr-v27-korean-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-kr-v27-korean-100.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-300 - korean */
@font-face {
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 300;
src: url('../fonts/noto-sans-kr-v27-korean-300.eot'); /* IE9 Compat Modes */
src: local(''),
        url('../fonts/noto-sans-kr-v27-korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v27-korean-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v27-korean-300.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-kr-v27-korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v27-korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-regular - korean */
@font-face {
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
src: url('../fonts/noto-sans-kr-v27-korean-regular.eot'); /* IE9 Compat Modes */
src: local(''),
        url('../fonts/noto-sans-kr-v27-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v27-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v27-korean-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-kr-v27-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v27-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - korean */
@font-face {
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
src: url('../fonts/noto-sans-kr-v27-korean-500.eot'); /* IE9 Compat Modes */
src: local(''),
        url('../fonts/noto-sans-kr-v27-korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v27-korean-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v27-korean-500.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-kr-v27-korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v27-korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - korean */
@font-face {
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 700;
src: url('../fonts/noto-sans-kr-v27-korean-700.eot'); /* IE9 Compat Modes */
src: local(''),
        url('../fonts/noto-sans-kr-v27-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v27-korean-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v27-korean-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-kr-v27-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v27-korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-900 - korean */
@font-face {
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 900;
src: url('../fonts/noto-sans-kr-v27-korean-900.eot'); /* IE9 Compat Modes */
src: local(''),
        url('../fonts/noto-sans-kr-v27-korean-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v27-korean-900.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v27-korean-900.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-kr-v27-korean-900.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v27-korean-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

.en {
    font-family: 'inter'
}

body {
    font-family: 
        'Inter',"Noto Sans KR", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica
        Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.color {
    color: var(--primary) !important;
}


.inner {
    max-width: 1148px !important;
}
.btn-fill {
    background-color: #222222;
    color: #fff;
}

.btn-fill:hover {
    color: var(--primary)
}

.section h2 {
    font-size: 2.5rem;
}
.navbar-brand .yap_logo {
    width: 60px;
    height: 60px;
    background: url(../ico/yap_logo_w.png) center/cover no-repeat;
}
.navbar-light .navbar-brand .yap_logo {
    background-image: url(../ico/yap_logo_y.png)
}

/* page-visual */
.page-visual {
    height: 75.75rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-visual h1 {
    font-size: 3.8rem;
    margin-bottom: 50px !important;
    word-break: keep-all;
}
.page-visual h1 span {
    color: var(--primary);
}
.page-visual .container .btn {
    border-radius: 100px;
    font-size: 26px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.65px;
    padding: 24px 20px 21px;
    min-width: 256px;
}
.page-visual .container .btn-outline-primary {
    border-color: white;
}
.page-visual .container .btn-outline-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

/* SECTION-TECHSERVICE */
.section-techService {
    padding-top: 9.5rem;
    padding-bottom: 11.25rem;
}
.section-techService h2 {
    margin-bottom: 4.5rem;
}
.section-techService h4 {
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.7px;
    margin-bottom: 1rem;
}
.section-techService p {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.4;
    color: #000;
    letter-spacing: -0.5px;
}
.section-techService .yapTech .card-body {
    height: 310px;
    background-color: #f4f4f4;
    position: relative;
    padding: 2.375rem;
    z-index: 0;
}
.section-techService .yapTech img {
    position: absolute;
    width: 48%;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.section-techService .row > div {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
}

/* SECTION-NEWS */
.section-news {
    background-color: #f9f9f9;
    padding-top: 8.125rem;
    padding-bottom: 11.875rem;
    overflow: hidden;
}
.section-news .container {
    max-width: 100%;
    /* overflow: hidden; */
}
.section-news .container .row-full {
    margin-left: -3rem;
    margin-right: -3rem;
}

.section-news .container .row-full .img-fluid {
    width: 100%;
}
.section-news .container .row-full .card-img-top {
    position: relative;
}
.section-news .container .row-full .card-img-top .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 0.938rem 1.625rem;
    padding-left: 2.5rem;
}
.section-news .container h2 {
    margin-bottom: 3.125rem;
}
.section-news .container .row-full .card-img-top .card-body h4 {
    color: rgba(255,255,255,0.8);
    margin: 0;
}

.section-news .container .row-full .card-img-top .card-body p {
    margin: 0;
    font-size: 1.375rem;
    line-height: 1.36;
    letter-spacing: -0.55px;
    overflow:hidden;
	text-overflow:ellipsis;
	-webkit-line-clamp: 2;	
	-webkit-box-orient: vertical;
	display: -webkit-box;
}
.section-news .container .row-full .card-img-top .card-body .row {
    margin: 0;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.section-news .container .more-news {
    text-align: right;
    margin-bottom: 40px;
}
.section-news .container .more-news a {
    float: right;
    color: #898989;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: -0.5px;
}
.section-news .container .more-news a img {
    margin-left: 7px;
    margin-top: -6px;
}

/* SECTION-ABOUT */
.section-about {
    background: red url(../img/bg_career@2x.jpg) center/cover no-repeat;
    padding-top: 17.5rem;
    padding-bottom: 15rem;
    color: #222222;
    min-height: 900px;
}
.section-about h2 {
    font-size: 2.813rem;
    margin-bottom: 1.125rem;
}
.section-about h2 span {
    color: var(--primary);
}
.section-about p {
    font-size: 1.313rem;
    line-height: 1.24;
    margin-bottom: 4.813rem;
}
.section-about .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.313rem;
    font-weight: bold;
    line-height: 1;
    height: 4.75rem;
    box-sizing: border-box;
    min-width: 16.563rem;
}
.section-about .btn img {
    margin-left: 0.263rem;
}
.section-about .btn:hover {
    color: white;
    background-color: var(--primary);
}

/* SECTION-FOOTER */
.section-footer {
    background-color: #333333;
    color: rgba(255,255,255,0.6);
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}
.section-footer .row {
    justify-content: space-between;
}

.section-gsap01,
.section-gsap02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.section-gsap01 h1 {
    font-size: 3.75rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #222;
    margin-bottom: 2.625rem;
}
.section-gsap01 h1 span {
    color: var(--primary);
}

.section-gsap01 p {
    font-size: 2.313rem;
    letter-spacing: -0.93px;
    text-align: center;
    color: #222;
    margin: 0;
}
.section-gsap02 {
    background-color: var(--primary);
}
.section-gsap02 h2 {
    color: white;
    margin: 0;
    font-size: 2.813rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -1.13px;
    text-align: center;
}

.section-coreValue {
    padding-top: 17.15rem;
    padding-bottom: 12.5rem;
}
.section .line {
    height: 4.438rem;
    border-color: var(--primary);
    top: -9rem;
    transform: none;
}
.section-coreValue h3 {
    font-size: 2.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: -1px;
    text-align: center;
    color: #222;
    margin-bottom: 4.8rem;
}

.section-coreValue h3 span {
    color: var(--primary);
}
.section-coreValue .row {
    margin-left: -0.6rem;
    margin-right: -0.6rem;
}
.section-coreValue .row > div {
    padding: 0 0.6rem;
}
.section-coreValue .row > div:nth-child(4),
.section-coreValue .row > div:nth-child(5) {
    margin-top: 1.2rem;
}
.section-coreValue .item {
    height: 23.563rem;
    padding: 2.5rem 1.7rem;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.section-coreValue .item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    transition: all .25s linear;
    z-index: -1;
}
.section-coreValue .row > div:nth-child(1) .item {background: url(../img/bg_coreValue_01@2x.jpg) center/cover no-repeat;}
.section-coreValue .row > div:nth-child(2) .item {background: url(../img/bg_coreValue_01@2x.jpg) center/cover no-repeat;}
.section-coreValue .row > div:nth-child(3) .item {background: url(../img/bg_coreValue_05@2x.jpg) center/cover no-repeat;}
.section-coreValue .row > div:nth-child(4) .item {background: url(../img/bg_coreValue_04@2x.jpg) center/cover no-repeat;}
.section-coreValue .row > div:nth-child(5) .item {background: url(../img/bg_coreValue_05@2x.jpg) center/cover no-repeat;}


.section-coreValue .row > div:nth-child(1) .item::before {background-color: red;}
.section-coreValue .row > div:nth-child(2) .item::before {background-color: #fff;}
.section-coreValue .row > div:nth-child(3) .item::before {background-color: #f4f4f4;}
.section-coreValue .row > div:nth-child(4) .item::before {background-color: orange;}
.section-coreValue .row > div:nth-child(5) .item::before {background-color: green;}


.section-coreValue .item span {
    font-size: 0.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.14px;
    text-align: left;
    color: #222;
}
.section-coreValue .item h5 {
    font-size: 1.75rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.7px;
    text-align: left;
    color: #222;  
    margin-bottom: 1.8rem;
}
.section-coreValue .item p {
    font-size: 0.813rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: -0.33px;
    text-align: left;
    color: #222;
    opacity: 0;
}
.section-coreValue .item .action-btn {
    position: absolute;
    right: 1.34rem;
    bottom: 1.34rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    transition: 0.3s cubic-bezier(.25,.46,.45,.94);
}
.section-coreValue .item .action-btn::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #505050;
}
.section-coreValue .item .action-btn::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #505050;
    transform: rotate(90deg);
}

.section-coreValue .item.on::before {
    opacity: 1;
}
.section-coreValue .item.on h5 {
    animation: CareersPage_slide-in-fwd-top__BsiBA .4s cubic-bezier(.25,.46,.45,.94) .2s both;
}
.section-coreValue .item.on p {
    opacity: 1;
    animation: CareersPage_slide-in-fwd-top__BsiBA .4s cubic-bezier(.25,.46,.45,.94) .4s both;
}
.section-coreValue .item.on .action-btn {
    transform: rotate(45deg);
    /* animation: CareersPage_rotate-30__bKLfZ .3s cubic-bezier(.25,.46,.45,.94) both; */
}


.section-make {
    background: 
    linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url(../img/bg_makeHistory@2x.jpg) center/cover no-repeat;
    text-align: center;
    color: white;
    padding-top: 22.15rem;
    padding-bottom: 25.156rem;
}
.section-make .bg-overlay:before {
    background-color: #000;
    opacity: 0.4;
}
.section-make h1 {
    font-size: 3.75rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #fff;
    margin-bottom: 1.56rem;
}
.section-make p {
    font-size: 1.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.75px;
    margin: 0;
}

@-webkit-keyframes CareersPage_slide-in-fwd-top__BsiBA {
    0% {
        -webkit-transform: translateZ(-20px) translateY(-20px);
        transform: translateZ(-20px) translateY(-20px);
        opacity:0
    }

    to {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity:1
    }
}

@keyframes CareersPage_slide-in-fwd-top__BsiBA {
    0% {
        -webkit-transform: translateZ(-20px) translateY(-20px);
        transform: translateZ(-20px) translateY(-20px);
        opacity:0
    }

    to {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity:1
    }
}
@-webkit-keyframes CareersPage_rotate-30__bKLfZ {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes CareersPage_rotate-30__bKLfZ {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity:1
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity:1
    }
}
.section-history {
    padding-top: 9.4rem;
    padding-bottom: 12.5rem;
}
.section-history .container{
    max-width: 900px;
}
.section-history h1 {
    margin-bottom: 8rem;
    text-align: center;
}
.section-history .hisWrap {
    display: flex;
    position: relative;
}
.section-history .hisWrap .year {
    font-size: 1.75rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: -0.7px;
    color: #222;
    flex: 0 0 90px;
}
.section-history .hisWrap .grey-line {
    width: 1px;
    height: 100%;
    background-color: #eaeaea;
    position: absolute;
    left: 11.5rem;
    top: 1rem;
}
.section-history .hisWrap .grey-line.last-line {
    background-color: transparent;
}
.section-history .hisWrap .grey-line.last-line i {
    background-color: var(--primary);
    border-color: var(--primary);
}
.section-history .hisWrap i{
    position: absolute;
    top: 0;
    left: calc(-1.313rem / 2);
    width: 1.313rem;
    height: 1.313rem;
    border: solid 4px #707070;
    background-color: #fff;
    border-radius: 50%;  
}

.section-history .hisWrap ul {
    padding-left: 13.84rem;
    margin-top: 7px;
    margin-bottom: 6rem;
    flex: 1 0 0;
}
.section-history .hisWrap:last-child ul {
    margin-bottom: 0;
}
.section-history .hisWrap li {
    display: flex;
}
.section-history .hisWrap li + li {
    margin-top: 1.25rem;
}
.section-history .hisWrap .month {
    font-size: 1.313rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: 0.21px;
    text-align: left;
    color: #222;
    opacity: 0.5;  
    margin-right: 1.73rem;
}
.section-history .hisWrap .hisCon {
    font-size: 1.313rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: 0.21px;
    text-align: left;
    color: #222;
}
.section-history .hisWrap .hisCon .color {
    font-weight: bold;
}


.section-map {
    padding-top: 16rem;
    padding-bottom: 16rem;
    background-color: #f8f8f8;
}
.section-map .container {
    display: flex;
    justify-content: flex-end;
}
.section-map h1 {
    margin-bottom: 5.75rem;
    font-size: 2.813rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -1.13px;
    text-align: left;
    color: #222;
}

.section-map p{
    font-size: 1.125rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.18px;
    text-align: left;
    color: #222;
    margin: 0;
}

.section-supporter {
    text-align: center;
    padding-top: 16.78rem;
    padding-bottom: 14.68rem;
    overflow-x: hidden;
}
.section-supporter h3 {
    font-size: 2.813rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.45px;
    text-align: center;
    color: #222;
    margin-bottom: 1.562rem;
}
.section-supporter h5 {
    font-size: 1.563rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.63px;
    text-align: center;
    color: #222;
    margin-bottom: 0.625rem;
}
.section-supporter h5 + .row {
    margin-top: 10.5rem;
}
.section-supporter .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    flex-wrap: nowrap;
}
.section-supporter .row:last-of-type {
    flex-direction: row-reverse;
    margin-top: 8.68rem;
}
.section-supporter .row:last-of-type .imgWrap::before {
    border-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.section-supporter .row:last-of-type .imgWrap::after {
    right: 0;
    left: 100%;
    top: 50%;
    transform: translate(0%, -50%);
    width: 160%;
    height: calc(100% + 3.5rem);
    background-color: #f2f2f2;
    z-index: -1;
}
.section-supporter .imgWrap {
    width: 50%;
    height: 0;
    padding-top: 50%;
    position: relative;
    z-index: -1;
}
.section-supporter .imgWrap::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 3.5rem);
    height: calc(100% + 3.5rem);
    background-color: #f2f2f2;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.section-supporter .imgWrap::after {
    content: '';
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translate(0%, -50%);
    width: 160%;
    height: calc(100% + 3.5rem);
    background-color: #f2f2f2;
    z-index: -1;
}
.section-supporter img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.section-supporter .textWrap {
}
.section-supporter .textWrap h4 {
    font-size: 2.063rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.33px;
    color: #222;
    margin-bottom: 0.93rem;
}
.section-supporter .textWrap .badgeWrap {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
}
.section-supporter .textWrap .badge {
    padding: 0 1.5rem;
    height: 2.438rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: -0.43px;
    color: #fff;
    background-color: var(--primary);
    border-radius: 20px;
    box-sizing: border-box;
}

.section-supporter .textWrap p {
    font-size: 1.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: -0.5px;
    color: #222;
    margin-bottom: 0.94rem;
}
@media (max-width: 767.99px) {
    /* html {
        font-size: 10px;
    } */
    .container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .row {
        margin-right: -1.25rem;
        margin-left: -1.25rem;
    }
    .page-visual {
        height: 52.75rem;
    }
    .page-visual h1 {
        font-size: 2rem;
        text-align: center;
        width: 14rem;
        margin: 0 auto;
        word-break: keep-all;
        margin-bottom: 2.2rem;
    }
    .page-visual .container .btn {
        background-color: #222222;
        border: 0;
        font-size: 1.125rem;
        padding: 0 2rem;
        width: auto;
        min-width: min-content;
        height: 2.938rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .section-techService {
        padding-top: 3.125rem;
        padding-bottom: 4.375rem;
    }

    .section-techService .row {
        margin-left: -0.469rem;
        margin-right: -0.469rem;
    }
    .section-techService .cardWrap > div {
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 0.469rem;
        padding-right: 0.469rem;
    }
    .section-techService .yapTech .card-body {
        height: 10.063rem;
        padding: 0.813rem 0.344rem 0 0.625rem;
    }
    .section-techService h2 {
        font-size: 1.875rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }
    .section-techService h4 {
        font-size: 0.813rem;
        font-weight: bold;
        margin-bottom: 0.25rem;
    }
    .section-techService p {
        font-size: 0.688rem;
        color: #222;
        word-break: keep-all;
        max-width: 6.7rem;
    }
    .section-techService .yapTech img {
        min-width: 110px;
        max-width: 147px;
    }
    .section-news {
        padding-top: 1.875rem;
        padding-bottom: 7.125rem;
        position: relative;
    }
    .section-news .container {
        position: static;
    }
    .section-news .row-moreWrap {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .section-news .container .more-news {
        margin-bottom: 4.375rem;
        text-align: center;
    }
    .section-news .container .more-news a {
        float: none;
        font-size: 0.813rem;
    }
    .section-news .container .more-news a img {
        margin-top: -0.2rem;
        margin-left: 0.35rem;
        width: 0.6rem;
    }

    .section-news .container h2 {
        font-size: 1.875rem;
        font-weight: bold;
        margin-bottom: 2.2rem;
    }
    .section-news .container .row-full {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: -23rem;
        margin-right: -23rem;
        margin-left: -60vw;
        margin-right: -60vw;
    }
    .section-news .container .row-full > div {
        padding: 0 0.625rem;
    }
    .section-news .container .row-full .card-img-top {
        height: 21rem;
    }
    .section-news .container .row-full .img-fluid {
        height: 100%;
        object-fit: cover;
    }
    .section-news .container .row-full .card-img-top .card-body {
        padding: 0.939rem;
    }
    .section-news .container .row-full .card-img-top .card-body {
        font-size: 0.938rem;
    }
    .section-news .container .row-full .card-img-top .card-body h4 {
        font-size: 0.688rem;
    }
    .section-news .container .row-full .card-img-top .card-body p {
        font-size: 0.938rem;
    }
    .section-about {
        padding-top: 14.5rem;
        padding-bottom: 3.125rem;
        text-align: center;
        min-height: fit-content;
    }
    .section-about h2 {
        font-size: 1.563rem;
        font-weight: 600;
        margin-bottom: 0.625rem;
    }
    .section-about p {
        font-size: 0.813rem;
        margin-bottom: 2rem;
    }
    .section-about .btn {
        font-size: 0.813rem;
        padding: 0.93rem;
        width: 10.875rem;
        min-width: min-content;
        height: 3rem;
    }
    .section-about .btn img {
        width: 0.75rem;
    }
    .section-footer {
        padding: 2.125rem 0;
        font-size: 0.688rem;
    }
    .section-footer p {
        margin-bottom: 0.7rem;
    }
    .section-footer p .footer-brand  {
        font-size: 0.812rem;
        color: rgba(255,255,255,0.6) !important;
    }


    .section-gsap01, .section-gsap02 {
        height: 80vh;
    }
    .section-gsap01 h1 {
        margin: 0 auto;
        font-size: 2rem;
        line-height: 1.19;
        margin-bottom: 1.375rem;
        max-width: 332px;
    }
    .section-gsap01 h1 span {
        display: block;
    }
    .section-gsap01 p {
        margin: 0 auto;
        font-size: 1.375rem;
        line-height: 1.36;
        max-width: 330px;
        word-break: keep-all;
    }

    .section-gsap02 h2 {
        font-size: 1.875rem;
        line-height: 1.27;
        letter-spacing: -0.75px;
        word-break: keep-all;
    }

    .section-coreValue {
        padding-top: 8.41rem;
        padding-bottom: 4.375rem;
    }
    .section .line {
        height: 3.4rem;
        top: -4.275rem;
    }
    .section-coreValue h3 {
        margin: 0 auto;
        margin-bottom: 4.438rem;
        font-size: 1.875rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: -0.75px;
        text-align: center;
        color: #222;
        max-width: 280px;
        word-break: keep-all;
    }
    .section-coreValue .row > div + div {
        margin-top: 1.25rem;
    }
    .section-coreValue .item {
        padding: 1.875rem 1.341rem 0.869rem 1.25rem;
        height: calc(100vw - 2.5rem);
        max-height: 380px;
    }
    
    .section-coreValue .item span {
        font-size: 0.938rem;
        letter-spacing: 0.15px;
    }
    .section-coreValue .item h5 {
        font-size: 1.563rem;
        line-height: 1.28;
        letter-spacing: -0.63px;
        margin-bottom: 1.25rem;
    }


    .section-coreValue .item p {
        font-size: 0.813rem;
        line-height: 1.38;
        letter-spacing: -0.33px;
        width: 70%;
        word-break: keep-all;
    }

    .section-make {
        padding: 13rem 0;
    }
    .section-make h1 {
        font-size: 1.875rem;
        letter-spacing: 0.3px;
        margin-bottom: 0.5rem;
    }
    .section-make p {
        font-size: 0.938rem;
        letter-spacing: -0.38px;
        max-width: 200px;
        margin: 0 auto;
        word-break: keep-all;
    }

    .section-history {
        padding: 4.375rem 0;
    }
    .section-history .container {
        padding: 0 2.8rem;
    }
    .section-history h1 {
        margin-bottom: 2.5rem;
    }
    .section-history .hisWrap {
        flex-direction: column;
        padding-left: 2.25rem;
        max-width: 420px;
        margin: 0 auto;
    }
    .section-history .hisWrap .year {
        font-size: 1.375rem;
        line-height: 1.77;
        letter-spacing: -0.55px;
        flex-basis: 0;
    }
    .section-history .hisWrap .grey-line {
        left: 0;
        top: 12px;
    }
    .section-history .hisWrap i {
        left: calc(-1.1rem / 2);
        width: 1.1rem;
        height: 1.1rem;
        border-radius: 50%;
    }
    .section-history .hisWrap ul {
        padding-left: 0;
        margin-top: 1.125rem;
        margin-bottom: 2.5rem;
    }
    .section-history .hisWrap .month {
        font-size: 0.938rem;
        line-height: 1.53;
        letter-spacing: 0.15px;
        margin-right: 1.625rem;
    }
    .section-history .hisWrap .hisCon {
        font-size: 0.938rem;
        font-weight: 500;
        line-height: 1.53;
        letter-spacing: 0.15px;
    }
    .section-map {
        padding-bottom: 3.125rem;
    }
    .section-map h1 {
        font-size: 1.875rem;
        line-height: 1.37;
        letter-spacing: -0.75px;
        margin-bottom: 1.25rem;
    }
    .section-map p {
        font-size: 0.813rem;
        line-height: 1.54;
        letter-spacing: -0.33px;
    }
    .section-map .container {
        justify-content: flex-start;
    }
    .section-map .textWrap {
        margin-left: 1.9rem;
    }

    .section-supporter {
        padding-top: 8.41rem;
        padding-bottom: 4.375rem;
    }
    .section-supporter h3 {
        font-size: 1.875rem;
        line-height: 1.33;
        letter-spacing: -0.75px;
        margin-bottom: 1.25rem;
    }
    .section-supporter h5 {
        font-size: 0.938rem;
        letter-spacing: -0.38px;
        margin: 0 auto;
        margin-bottom: 0.625rem;
        max-width: 316px;
        word-break: keep-all;
    }
    .section-supporter h5 + .row {
        margin-top: 5rem;
    }
    .section-supporter .row {
        flex-direction: column !important;
        max-width: 560px;
        margin: 0 auto;
    }
    .section-supporter .textWrap {
        margin-top: 5rem;
        align-self: flex-start;
    }
    .section-supporter .imgWrap {
        width: 80%;
        padding-top: 80%;
    }
    .section-supporter .row:last-of-type .textWrap {
        text-align: left !important;
    }
    .section-supporter .row:last-of-type {
        margin-top: 5rem;
    }
    .section-supporter .textWrap h4 {
        font-size: 1.875rem;
        letter-spacing: 0.3px;
        margin-bottom: 0.625rem;
    }
    .section-supporter .textWrap .badgeWrap {
        margin-bottom: 1.375rem;
    }
    .section-supporter .textWrap .badge {
        font-size: 0.938rem;
        line-height: 1;
        letter-spacing: -0.38px;
        height: 2rem;
    }
    .section-supporter .textWrap p {
        font-size: 0.813rem;
        line-height: 1.38;
        letter-spacing: -0.33px;
        margin-bottom: 0.5rem;
    }
}